.header-bar {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: sans-serif; }

html {
  font-size: 62.5%;
  line-height: 1.15rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  color: black;
  font-family: "Noto Sans JP", sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden; }

.app {
  position: relative; }

.heading-primary {
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.8rem !important;
  font-weight: 900; }

.heading-teritiary {
  color: #00949f;
  font-size: 1.4rem !important;
  font-weight: 900; }
  .heading-teritiary--light {
    font-size: 1.2rem !important;
    font-weight: 500;
    padding: 0rem 0.25rem; }

.app-container {
  position: relative;
  min-height: 80vh; }

.app-error {
  color: #f04242;
  font-weight: 500;
  margin-bottom: 1rem; }

.u-margin-left--sm {
  margin-left: 0.5rem !important; }

.u-margin-left--md {
  margin-left: 2rem !important; }

.u-margin-left--lg {
  margin-left: 4rem !important; }

.u-margin-left---xlg {
  margin-left: 8rem !important; }

.u-no-gutters {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.u-margin-right--sm {
  margin-right: 0.5rem !important; }

.u-margin-right--md {
  margin-right: 2rem !important; }

.u-margin-right--lg {
  margin-right: 4rem !important; }

.u-margin-right--xlg {
  margin-right: 8rem !important; }

.u-margin-top--sm {
  margin-top: 0.5rem !important; }

.u-margin-top--md {
  margin-top: 2rem !important; }

.u-margin-top--lg {
  margin-top: 4rem !important; }

.u-margin-top-xlg {
  margin-top: 8rem !important; }

.u-margin-bottom--sm {
  margin-bottom: 0.5rem !important; }

.u-margin-bottom--md {
  margin-bottom: 2rem !important; }

.u-margin-bottom--lg {
  margin-bottom: 4rem !important; }

.u-margin-bottom--xlg {
  margin-bottom: 8rem !important; }

.u-windows-border {
  border-radius: 3px;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  border: 4px solid rgba(0, 181, 194, 0.6);
  margin: 0.5rem !important; }

.u-gray-border {
  border-radius: 3px;
  border: 2px solid #999; }

.u-btn, .p-button > .u-btn, .u-btn > .p-button-text {
  font-size: 1rem;
  transition: all 0.3s ease;
  color: #000;
  border: transparent; }
  .u-btn--white, .p-button > .u-btn--white, .u-btn > .p-button-text--white {
    background-image: linear-gradient(to bottom, lightBlue, white 20%, white 50%, lightBlue); }
    .u-btn--white:hover, .u-btn--white:focus, .p-button > .u-btn--white:hover, .p-button > .u-btn--white:focus, .u-btn > .p-button-text--white:hover, .u-btn > .p-button-text--white:focus {
      background-image: linear-gradient(to top, lightBlue, white 20%, white 70%, lightBlue);
      transform: translateY(-0.1rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .u-btn--white:active, .p-button > .u-btn--white:active, .u-btn > .p-button-text--white:active {
      transform: translateY(0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.u-disable {
  cursor: no-drop !important; }

.launch-icon {
  cursor: pointer; }
  .launch-icon img {
    height: 3rem;
    width: auto;
    border-radius: 6px;
    border: 1px solid transparent; }
  .launch-icon:hover, .launch-icon:focus {
    outline: none; }
    .launch-icon:hover img, .launch-icon:focus img {
      transform: scale(1.2);
      border: 1px solid #fff; }

.app-btn, .p-button > .app-btn, .app-btn.p-button-text-only > .p-button-text {
  width: 100%;
  text-align: center;
  padding: .2rem 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  padding: .25rem .5rem !important;
  transition: all 0.3s ease;
  outline: none; }
  .app-btn--teritiary, .p-button > .app-btn--teritiary, .app-btn.p-button-text-only > .p-button-text--teritiary {
    height: 2.3rem;
    font-weight: 700;
    margin-bottom: .3rem;
    border: 2px solid lightblue;
    background-image: linear-gradient(to bottom, #fff 20%, lightblue 95%);
    color: #2F6F7C; }
    .app-btn--teritiary:hover, .p-button > .app-btn--teritiary:hover, .app-btn.p-button-text-only > .p-button-text--teritiary:hover {
      background-image: linear-gradient(to bottom, #fff 20%, #8effb1 95%); }
    .app-btn--teritiary:focus, .p-button > .app-btn--teritiary:focus, .app-btn.p-button-text-only > .p-button-text--teritiary:focus {
      border: 2px solid #1494df;
      background-image: linear-gradient(to bottom, #fff 20%, #5bff8d 95%); }
  .app-btn--rounded, .p-button > .app-btn--rounded, .app-btn.p-button-text-only > .p-button-text--rounded {
    border-radius: 5px; }
  .app-btn--orange, .p-button > .app-btn--orange, .app-btn.p-button-text-only > .p-button-text--orange {
    border: 2px solid transparent;
    background-image: linear-gradient(to bottom, #ff9d25, #ffd6a5 30%, #ff9d25);
    color: #000;
    font-weight: 700; }
    .app-btn--orange:hover, .p-button > .app-btn--orange:hover, .app-btn.p-button-text-only > .p-button-text--orange:hover {
      background-image: linear-gradient(to top, #ff9d25, #ffd6a5 30%, #ff9d25); }
    .app-btn--orange:focus, .p-button > .app-btn--orange:focus, .app-btn.p-button-text-only > .p-button-text--orange:focus {
      border: 2px solid #f5f500;
      background-image: linear-gradient(to top, #ff9d25, #ffd6a5 30%, #ff9d25); }
  .app-btn--white, .p-button > .app-btn--white, .app-btn.p-button-text-only > .p-button-text--white {
    border: 1px solid #2F6F7C;
    background-color: #fff;
    color: #000; }
    .app-btn--white:hover, .p-button > .app-btn--white:hover, .app-btn.p-button-text-only > .p-button-text--white:hover {
      background-color: #36808e;
      color: white; }
    .app-btn--white:focus, .p-button > .app-btn--white:focus, .app-btn.p-button-text-only > .p-button-text--white:focus {
      border: 2px solid #2F6F7C;
      background-image: linear-gradient(to top, #fff, white 30%, #fff); }
  .app-btn--secondary, .p-button > .app-btn--secondary, .app-btn.p-button-text-only > .p-button-text--secondary {
    font-size: 1.2rem;
    outline: 1px solid #116fbf;
    transition: all 0.2s;
    /*     background-image: linear-gradient(
      to bottom,
      lightBlue,
      white 20%,
      white 50%,
      lightBlue
    ); */
    background-image: linear-gradient(to bottom, #F2F7FB, #FFFFFF, #C0D7EE); }
    .app-btn--secondary--disabled, .p-button > .app-btn--secondary--disabled, .app-btn.p-button-text-only > .p-button-text--secondary--disabled {
      font-size: 1.2rem;
      border: 1px solid #116fbf;
      background-image: linear-gradient(to bottom, #F2F7FB, #FFFFFF, #C0D7EE);
      cursor: no-drop; }
    .app-btn--secondary:hover, .app-btn--secondary:focus, .p-button > .app-btn--secondary:hover, .p-button > .app-btn--secondary:focus, .app-btn.p-button-text-only > .p-button-text--secondary:hover, .app-btn.p-button-text-only > .p-button-text--secondary:focus {
      outline: 2px solid #116fbf;
      /*     background-image: linear-gradient(
        to top,
        lightBlue,
        white 20%,
        white 70%,
        lightBlue
      ); */
      background-image: linear-gradient(to top, #F2F7FB, #FFFFFF, #C0D7EE); }
  .app-btn--primary, .p-button > .app-btn--primary, .app-btn.p-button-text-only > .p-button-text--primary {
    border: 2px solid #fff;
    border-radius: 3px;
    transition: all 0.2s;
    background-image: linear-gradient(to bottom, #1564ff, #1591ff 70%);
    color: #fff; }
    .app-btn--primary:hover, .app-btn--primary:focus, .p-button > .app-btn--primary:hover, .p-button > .app-btn--primary:focus, .app-btn.p-button-text-only > .p-button-text--primary:hover, .app-btn.p-button-text-only > .p-button-text--primary:focus {
      border: 3px solid #fff;
      background-image: linear-gradient(to top, #1564ff, #1591ff 70%);
      transform: translateY(-0.1rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .app-btn--primary:active, .p-button > .app-btn--primary:active, .app-btn.p-button-text-only > .p-button-text--primary:active {
      transform: translateY(0.1rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.error-modal {
  position: fixed;
  /* Stay in place */
  z-index: 23;
  /* Sit on top */
  margin: 0rem;
  left: 5%;
  top: 30%;
  height: 20.5rem;
  /* Full height */
  width: 80%;
  /*     box-shadow: .1rem .5rem 2rem $color-black; */
  /* Add Animation */ }
  .error-modal__content {
    background-color: #eeeeee;
    border: 1px solid #000;
    border-top: none;
    width: auto;
    padding-bottom: 1rem; }
  .error-modal__header {
    position: relative;
    background-color: #d20000;
    height: 3.45rem;
    color: white;
    width: inherit;
    padding-top: .5rem;
    font-size: 1.5rem;
    padding-left: 6rem; }
    .error-modal__header .alert-icon {
      position: absolute;
      left: 0;
      top: 1%;
      width: 5rem;
      height: 5rem; }
  .error-modal__body {
    margin: 2.2rem 3rem;
    margin-bottom: 1rem;
    height: 8rem;
    padding: .5rem;
    color: #f00000;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #fff;
    border: 1px solid #000; }
  .error-modal .close__bar {
    padding: .3rem;
    background-image: linear-gradient(to bottom, #6493c1, #ADC6DE 80%, #bfd3e5);
    height: 2.7rem;
    width: 100%;
    border: 1px solid #000;
    border-bottom: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px; }
  .error-modal .close__icon {
    cursor: pointer;
    float: right;
    padding: 0 .5rem;
    margin-right: .5rem;
    font-size: 1.4rem;
    background-image: linear-gradient(#D67F66, #B03C1C, #D67F66);
    font-weight: 700;
    color: #fff;
    border: 1px solid #000000;
    border-radius: 3px; }
  .error-modal .confirm-btn {
    height: 2.2rem;
    width: 8rem; }

@keyframes animatetop {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.update__notification {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  width: 20rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.update__message {
  line-height: 1.5rem;
  font-size: 1.1rem;
  padding: .5rem 0rem;
  padding-bottom: 1rem;
  text-align: left; }

.update__btn {
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: 5px; }
  .update__btn--close {
    margin-right: 2rem; }

.header {
  width: 100%; }
  .header-bar {
    padding-left: .5rem;
    background-image: linear-gradient(to bottom, white 30%, #eeeeee 90%);
    height: 2.1rem;
    border-bottom: 1px solid #999; }
    .header-bar__list {
      list-style: none; }
    .header-bar__item {
      cursor: pointer;
      display: inline-block;
      transition: all .3s;
      margin: 0 5px;
      padding: .45rem .6rem; }
      .header-bar__item:focus, .header-bar__item:hover {
        outline: none;
        background-color: #000;
        color: #fff; }
  .header-main {
    padding-top: .6rem;
    padding-right: 1.5rem;
    height: 7rem;
    background-color: #347A82; }
    .header-main ul.minds-info {
      margin-left: -12%;
      margin-top: .6rem;
      list-style: none; }
      .header-main ul.minds-info li {
        width: 100%;
        padding: .3rem;
        font-size: 1rem;
        color: #fff; }
        .header-main ul.minds-info li .empty-info {
          font-weight: 900;
          padding-left: 10%; }
        .header-main ul.minds-info li:first-child {
          padding-bottom: 2rem;
          border-bottom: 1px solid #fff; }
    .header-main .main-btn-icon {
      display: inline-block;
      height: 2.2rem;
      margin: .1rem .5rem;
      width: auto;
      background-color: #fff; }
    .header-main .text-input {
      display: inline-block;
      line-height: 2rem;
      border: 2px solid transparent;
      border-bottom: 1.5px solid #000;
      width: 100%; }
    .header-main .main-icon__list {
      list-style: none; }
    .header-main .main-icon__item {
      position: relative;
      display: inline-block;
      margin: 0 .3rem;
      height: 5.8rem; }
      .header-main .main-icon__item img {
        height: 100%; }
      .header-main .main-icon__item .carrier-info {
        position: absolute;
        bottom: 3%;
        left: 5%;
        font-size: 1.6rem;
        font-weight: 700;
        color: #2F6F7C; }
  .header-sub {
    height: 6.5rem;
    padding-left: .5rem;
    width: 100%;
    background-color: #080808; }
    .header-sub .fn-grp:not(:last-child) {
      padding-right: 1.5rem; }
    .header-sub__btn {
      border: none;
      margin-top: 0.4rem;
      cursor: pointer;
      width: 100%;
      height: 5.8rem;
      padding: 0.4rem 0.5rem;
      border-radius: 1px;
      background-image: linear-gradient(to bottom, #c9daeb, #fff 20%, #fff, #c9daeb 90%);
      transition: all .15 ease; }
      .header-sub__btn:hover {
        background-image: linear-gradient(to bottom, #c1ffd4, #fff 20%, #c1ffd4 90%);
        transform: translateY(-0.2rem);
        outline: none; }
      .header-sub__btn:focus, .header-sub__btn:active {
        background-image: linear-gradient(to bottom, #8effb1, #fff 40%, #8effb1 90%);
        transform: translateY(-0.1rem);
        outline: 1px solid #5bff8d; }
      .header-sub__btn-text {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.1;
        height: 75%;
        word-wrap: break-word; }
      .header-sub__btn-fn-key {
        font-size: 1.2rem; }
    .header-sub__p-icon {
      height: 100%;
      width: auto;
      background-color: #fff; }
    .header-sub .pnr-link:hover, .header-sub .pnr-link:focus {
      outline: none; }
      .header-sub .pnr-link:hover img, .header-sub .pnr-link:focus img {
        background-color: #c1ffd4; }
    .header-sub__pnr-list {
      margin-top: 1rem;
      float: left;
      list-style: none; }
    .header-sub__pnr-item {
      display: inline-block;
      margin-top: 1rem;
      margin-right: 1rem; }
    .header-sub__dms-bkg {
      height: 6.5rem;
      width: 5rem; }

.left-side-menu {
  padding: 2rem 0rem;
  width: 3rem;
  float: left;
  min-height: 80vh;
  margin-right: 1rem;
  background-color: #999; }
  .left-side-menu .menu__list {
    list-style: none; }
  .left-side-menu .menu__btn {
    border: none;
    color: #000;
    background-color: #eeeeee;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    width: 2.5rem;
    height: calc( ( 80vh - ((5 * (2 * 0.5rem)) + 2 * 1rem) ) / 5);
    text-transform: uppercase;
    position: relative; }
    .left-side-menu .menu__btn-text {
      position: absolute;
      color: inherit;
      font-size: 1.8rem;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      font-weight: 700; }
    .left-side-menu .menu__btn-icon {
      position: absolute;
      display: inline-block;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%); }
    .left-side-menu .menu__btn--selected {
      background-color: #31717E;
      color: #fff;
      border: 2px solid #fff;
      border-right: transparent; }

.right-side-menu {
  width: 30rem;
  float: left;
  min-height: 80vh;
  margin: 0.8rem 1rem; }
  .right-side-menu .right-menu__tab {
    border: 1px solid #000;
    border-bottom: 1px solid transparent;
    margin-right: .3rem;
    padding: .25rem;
    width: 30%;
    height: 3rem;
    font-size: 1rem;
    padding-top: .5rem;
    padding-bottom: .4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    outline: none; }
    .right-side-menu .right-menu__tab--active {
      background-color: #2F6F7C;
      color: #fff;
      border: none; }
  .right-side-menu .right-menu__body {
    border: 1px solid #2F6F7C;
    height: 64vh; }
    .right-side-menu .right-menu__body-content {
      height: 82%;
      background-color: #F1FDFE; }
    .right-side-menu .right-menu__body-btn-area {
      padding: 1rem 3rem;
      background-color: #eeeeee;
      height: 18%; }
      .right-side-menu .right-menu__body-btn-area div {
        margin-bottom: 1rem; }
  .right-side-menu .right-menu__heading {
    background-color: #2F6F7C;
    height: 3rem;
    padding: .8rem 1rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem; }
  .right-side-menu .right-menu-footer {
    padding: .2rem .8rem;
    height: 4.3rem;
    border: 1px solid #2F6F7C;
    border-top: none; }
    .right-side-menu .right-menu-footer__radio-grp {
      list-style: none; }
      .right-side-menu .right-menu-footer__radio-grp input[type="checkbox"] {
        vertical-align: middle;
        margin: .2rem; }
        .right-side-menu .right-menu-footer__radio-grp input[type="checkbox"][readonly] {
          pointer-events: none; }
      .right-side-menu .right-menu-footer__radio-grp label {
        display: inline-block;
        vertical-align: middle; }
    .right-side-menu .right-menu-footer__btn {
      height: 3.8rem;
      font-size: 1.2rem;
      border: 1px solid #2F6F7C;
      text-align: center;
      display: inline-block; }

.main-page-area {
  width: calc( 100% - ( 3 * 1rem) - 30rem - 3rem);
  float: left;
  height: 80vh; }

.footer {
  width: 100%;
  height: 3rem;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #2F6F7C;
  color: white;
  font-size: 1.2rem;
  padding: .5rem; }

.sm-select__page {
  padding: .25rem 0;
  height: 18rem;
  width: 60rem;
  background-color: #eeeeee; }

.sm-select__section {
  margin: 0 2rem;
  margin-bottom: 2rem; }

.sm-select__print-section {
  margin: 1rem 2rem; }
  .sm-select__print-section table {
    margin: 1rem 0rem; }
    .sm-select__print-section table th, .sm-select__print-section table td {
      padding: .5rem;
      width: 10rem;
      text-align: left;
      font-size: 1.1rem;
      text-transform: capitalize; }

.sm-select__radio-label {
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
  padding-left: 2.5rem; }

.sm-select__radio-input {
  display: none; }

.sm-select__radio-button {
  height: 2.1rem;
  width: 2.1rem;
  border: 3px solid #2F6F7C;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -1px; }
  .sm-select__radio-button::after {
    position: absolute;
    content: "";
    display: block;
    height: .9rem;
    width: .9rem;
    border-radius: 50%;
    background-color: #2F6F7C;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .1s; }

.sm-select__radio-input:checked ~ .sm-select__radio-label .sm-select__radio-button:after {
  opacity: 1; }

.sm-select__btn {
  margin-top: 1rem;
  height: 3rem;
  width: 20%;
  font-size: 1.3rem; }

.login-screen {
  background: #EFEFEF;
  height: 90rem;
  position: relative;
  background-size: cover; }
  .login-screen--green-bkg {
    background: #2F6F7C; }
  .login-screen .form {
    width: 55rem;
    border: 2px solid #999;
    height: 52rem;
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 1.2rem;
    transform: translate(-50%, -20%);
    background-color: #eeeeee; }
    .login-screen .form-header {
      width: 100%;
      position: relative; }
      .login-screen .form-header__img {
        height: auto;
        width: 100%; }
      .login-screen .form-header__alert {
        color: red;
        position: absolute;
        bottom: -2rem;
        display: inline-block;
        padding: .25rem;
        right: 1.5rem; }
    .login-screen .form__img {
      position: absolute;
      right: 1rem;
      top: 20%;
      height: auto;
      width: 15rem; }
    .login-screen .form__body {
      border: 3px solid #2F6F7C;
      margin: 0rem 1rem; }
    .login-screen .form__header {
      margin-left: 1rem; }
      .login-screen .form__header-btn {
        border-top-left-radius: 10px;
        padding: .25rem 1rem;
        margin-right: .1rem;
        background-color: #eeeeee;
        border-bottom: transparent; }
        .login-screen .form__header-btn--active {
          background-color: #2F6F7C;
          color: #fff; }
    .login-screen .form__grp {
      display: block;
      margin: 1rem;
      height: 3rem; }
    .login-screen .form__label {
      float: left;
      width: 30%; }
    .login-screen .form input[type="text"], .login-screen .form input[type="password"] {
      background-color: #ffff94; }
    .login-screen .form__input {
      width: 60%;
      font: inherit; }
      .login-screen .form__input--uuid {
        font-size: 1.2rem;
        width: 100%; }
    .login-screen .form .user-table {
      margin: 0rem 1%;
      width: 98%;
      border-collapse: collapse; }
      .login-screen .form .user-table th, .login-screen .form .user-table td {
        border: 1px solid #999;
        padding: .1rem .5rem;
        font-weight: 400; }
      .login-screen .form .user-table td:first-child, .login-screen .form .user-table td:nth-child(2) {
        text-align: center; }
      .login-screen .form .user-table td.area-code {
        background-color: #e7ffb5; }
      .login-screen .form .user-table thead {
        background-color: #2F6F7C;
        color: white;
        text-align: left; }
      .login-screen .form .user-table tbody {
        background-color: white; }
  .login-screen .login-btn {
    height: 3.3rem;
    font: inherit;
    width: max-content;
    float: right; }

.app-row {
  max-width: 192rem;
  margin: 0 auto; }
  .app-row:not(:last-child) {
    margin-bottom: 1rem; }
  .app-row::after {
    content: "";
    display: table;
    clear: both; }
  .app-row [class^="col-"] {
    float: left; }
    .app-row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .app-row .col-1-of-2 {
    width: calc(( 100% - 1rem ) / 2); }
  .app-row .col-1-of-3 {
    width: calc(( 100% - 2 * 1rem ) / 3); }
  .app-row .col-2-of-3 {
    width: calc(2 * (( 100% - 2 * 1rem ) / 3) + 1rem); }
  .app-row .col-1-of-4 {
    width: calc(( 100% - 3 * 1rem ) / 4); }
  .app-row .col-2-of-4 {
    width: calc( 2 * (( 100% - 3 * 1rem ) / 4) + 1rem); }
  .app-row .col-3-of-4 {
    width: calc( 3 * (( 100% - 3 * 1rem ) / 4) + (2 * 1rem)); }
  .app-row .col-1-of-5 {
    width: calc( ( 100% - 4 * 1rem ) / 5); }
  .app-row .col-1-of-6 {
    width: calc( ( 100% - 5 * 1rem ) / 6); }
  .app-row .col-2-of-6 {
    width: calc( 2 * (( 100% - 5 * 1rem ) / 6) + (1 * 1rem)); }
  .app-row .col-3-of-6 {
    width: calc( 3 * (( 100% - 5 * 1rem ) / 6) + (2 * 1rem)); }
  .app-row .col-4-of-6 {
    width: calc( 4 * (( 100% - 5 * 1rem ) / 6) + (3 * 1rem)); }
  .app-row .col-5-of-6 {
    width: calc( 5 * (( 100% - 5 * 1rem ) / 6) + (4 * 1rem)); }
