.seat-map-screen {
  font-size: 1.1rem; }

.seat-map-screen__bottom-panel {
  position: relative; }
  .seat-map-screen__bottom-panel .flight-img-heading {
    margin-left: 1rem; }
  .seat-map-screen__bottom-panel .flight-img-area {
    margin-left: 5rem;
    height: 8rem;
    width: 8rem;
    background-image: url(../assets/asr_airplane_mark.png);
    background-size: cover; }
  .seat-map-screen__bottom-panel .seat-info-table {
    margin-top: 2rem;
    position: relative; }
    .seat-map-screen__bottom-panel .seat-info-table table {
      border-collapse: collapse; }
      .seat-map-screen__bottom-panel .seat-info-table table th,
      .seat-map-screen__bottom-panel .seat-info-table table td {
        width: 10rem;
        font-size: 1.1rem;
        padding: 0.3rem 1rem;
        text-align: center; }
        .seat-map-screen__bottom-panel .seat-info-table table th:not(:first-child),
        .seat-map-screen__bottom-panel .seat-info-table table td:not(:first-child) {
          padding-left: 1.5rem; }
      .seat-map-screen__bottom-panel .seat-info-table table tr:not(:first-child) {
        border-bottom: 1px solid #999; }
      .seat-map-screen__bottom-panel .seat-info-table table tr:last-child {
        border-bottom: none; }
      .seat-map-screen__bottom-panel .seat-info-table table tr:first-child th {
        font-weight: 400; }

.bottom-info-text {
  position: absolute;
  bottom: 0;
  right: 10%;
  font-size: 1rem;
  font-weight: 400; }

.fare-mark {
  vertical-align: middle;
  height: 1.2rem;
  margin: 0.5rem; }

.seat-summary-list {
  position: relative; }
  .seat-summary-list ul {
    width: 40%;
    margin-left: 3.5rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    list-style: none; }
    .seat-summary-list ul .seat-summary-item {
      padding: .1rem; }
      .seat-summary-list ul .seat-summary-item::after {
        content: "";
        display: table;
        clear: both; }
      .seat-summary-list ul .seat-summary-item:not(:last-child) {
        border-bottom: 1px solid #999; }
      .seat-summary-list ul .seat-summary-item__heading {
        float: left; }
      .seat-summary-list ul .seat-summary-item__count {
        float: right;
        text-align: center;
        width: 7rem; }

.seat-count {
  font-size: 1.1rem !important; }
  .seat-count span.total {
    float: left; }
  .seat-count::before {
    content: '(';
    float: left; }
  .seat-count::after {
    content: ')';
    float: right; }

.seat-tooltip {
  transform: translate(-50%, 60%);
  background-color: #bfd3e5;
  display: inline-block;
  border: 1px solid #243971;
  padding: .5rem;
  width: max-content;
  position: relative; }
  .seat-tooltip__icon {
    float: left;
    margin-right: .5rem;
    height: auto; }
  .seat-tooltip__label {
    display: inline-block;
    line-height: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden; }

.seat-list {
  list-style: none;
  height: 100%;
  overflow-y: scroll; }
  .seat-list .seat-item {
    padding: .4rem;
    margin: 0 auto;
    width: 95%;
    position: relative; }
    .seat-list .seat-item::after {
      content: "";
      display: table;
      clear: both; }
    .seat-list .seat-item__icon {
      float: left;
      margin-right: 1rem;
      height: 3rem; }
    .seat-list .seat-item__label {
      position: absolute;
      top: 50%;
      line-height: 1.2;
      transform: translateY(-50%);
      font-size: 1rem;
      vertical-align: middle; }
  .seat-list::-webkit-scrollbar {
    width: 1.5rem; }
  .seat-list::-webkit-scrollbar-track {
    box-shadow: inset 0.5rem 0 1rem #999;
    border-radius: 0px; }
  .seat-list::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, lightblue 5%, white, lightblue 95%);
    border: 1.25px solid #5fb3ce;
    border-radius: 0px; }

.main-body {
  margin: 0rem 1rem; }

.seat-map-screen {
  background-color: #eeeeee;
  height: 100%;
  width: 120rem; }
  .seat-map-screen__left-panel {
    height: 45.8rem;
    margin-right: .5rem;
    background-color: #fff; }
  .seat-map-screen__seat-map-area {
    height: 45.5rem;
    width: 100%;
    margin-right: 1.5rem;
    overflow-y: hidden;
    overflow-x: scroll; }
    .seat-map-screen__seat-map-area .seat-map-content {
      padding: 0.5rem;
      transform: scaleY(0.8) translateY(-12%);
      transition: all 0.3s ease; }
    .seat-map-screen__seat-map-area--focus-premium {
      overflow-x: hidden;
      transform: scaleY(1) translateY(0%); }
    .seat-map-screen__seat-map-area::-webkit-scrollbar {
      width: 1.5rem; }
    .seat-map-screen__seat-map-area::-webkit-scrollbar-track {
      box-shadow: inset 0 0.25rem 0.75rem #999;
      border-radius: 0px;
      background-clip: content-box; }
    .seat-map-screen__seat-map-area::-webkit-scrollbar-thumb {
      background: linear-gradient(to bottom, lightblue 5%, white, lightblue 95%);
      border: 1.25px solid #5fb3ce;
      border-radius: 0px; }
  .seat-map-screen__bottom-panel {
    margin-top: .5rem;
    height: 14.2rem; }
  .seat-map-screen .bottom-base {
    position: absolute;
    height: 3.5rem;
    padding: .5rem;
    width: 100%;
    background-color: #cdcdcd;
    bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .seat-map-screen .bottom-base button {
      height: 2.5rem; }

.panel-heading {
  background-color: #009C9C;
  height: 3.6rem; }
  .panel-heading h2 {
    font-size: 2.4rem !important;
    padding-top: .8rem; }
  .panel-heading-icon--right {
    padding-right: 1rem;
    float: right; }
    .panel-heading-icon--right img {
      cursor: no-drop;
      margin: 0rem 0.5rem;
      margin-top: 0.5rem;
      height: 2.8rem; }

.panel-sub-heading {
  height: 2rem;
  font-size: 1.2rem;
  margin-right: 1rem; }
  .panel-sub-heading .flight-info {
    display: inline-block;
    margin-top: 1rem; }
    .panel-sub-heading .flight-info .cntSpecified {
      font-size: 1.1rem;
      margin-top: 0.2rem; }
  .panel-sub-heading .forest-btn {
    margin-top: 0.3rem; }
    .panel-sub-heading .forest-btn .app-btn {
      height: 2.3rem; }
  .panel-sub-heading .cabin-selection-btn {
    margin-left: 2.5rem; }
