.header {

  width: 100%;
  &-bar {
    padding-left:.5rem;
    background-image: linear-gradient(
      to bottom,
      white 30%,
      $color-gray 90%,
 
    );
    height: 2.1rem;
    border-bottom: 1px solid $color-gray-dark;
    &__list {
      list-style: none;
    }
    &__item {
      cursor: pointer;
      display: inline-block;
      //margin-left: 1.2rem;
      transition: all .3s;
      margin: 0 5px;
      padding:.45rem .6rem ;
      &:focus,&:hover{
        outline: none;
        background-color: $color-black;
        color:$color-white;

      }
    }
  }

  &-main {
    padding-top:.6rem;
    padding-right: 1.5rem;
    height: 7rem;
    background-color: $color-header-bkg;
   
    ul.minds-info
    {
      margin-left:-12%;
      margin-top:.6rem;
      list-style: none;
      li{  
        width: 100%;   
        padding:.3rem;
        font-size: 1rem;
        color:$color-white;
        .empty-info{
          font-weight: 900;
          padding-left:10%;
        }
        &:first-child{
          padding-bottom: 2rem;
          border-bottom: 1px solid $color-white;
        }
      }
    }

    .main-btn-icon
    { display: inline-block;
      height: 2.2rem;
      margin: .1rem .5rem;
      width: auto;
      background-color: $color-white;
  
    }

  .text-input{
      display: inline-block;
      line-height:2rem;
      border: 2px solid transparent;
     border-bottom: 1.5px solid $color-black;
      width: 100%;
    }

    .main-icon{

      &__list{
        list-style:none;
      }
      &__item{
        position: relative;
        display: inline-block;
        margin: 0 .3rem;
        height: 5.8rem;
        img{
          height: 100%;
        }
        .carrier-info{
          position: absolute;
          bottom: 3%;
          left: 5%;
          font-size: 1.6rem;
          font-weight: 700;
          color:$color-primary;
        }
      }
    }
  }
  &-sub {
    height: 6.5rem;
    padding-left:.5rem;
    width: 100%;
    background-color: lighten($color-black, 3);

    // &__btn-grp {
    //   display: inline;

    //   margin-left: 0.5rem;
    // }
   .fn-grp:not(:last-child)
    {
      padding-right: 1.5rem;
    }

    &__btn {
       border: none;
     margin-top: 0.4rem;
     cursor: pointer;   
      width: 100%;
      height: 5.8rem;
      padding: 0.4rem 0.5rem;
      border-radius: 1px;
  
      background-image: linear-gradient(
        to bottom,
   
        $color-header-btn,
        $color-white 20%,
        $color-white,
        $color-header-btn 90%,
      
      );
      transition: all .15 ease;
      
      &:hover {
        background-image: linear-gradient(
            to bottom,
            $color-header-btn-hover,
            $color-white 20%,
            $color-header-btn-hover 90%,
            
          );
          transform: translateY(-.2rem);
          outline: none;
   
    }
      &:focus,&:active {
        background-image: linear-gradient(
            to bottom,
            darken($color-header-btn-hover,10) ,
            $color-white 40%,
            darken($color-header-btn-hover,10)  90%,
            
          );
          transform: translateY(-.1rem);
          outline: 1px solid  darken($color-header-btn-hover,20);
      

    }



      &-text {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.1;
        height: 75%;
        word-wrap: break-word;
      }
      &-fn-key {
        font-size: 1.2rem;
      }
    }

    &__p-icon {
      height: 100%;
      width: auto;
      background-color: $color-white;
    }
    .pnr-link{

        &:hover,&:focus{
            outline: none;
          
         img{
            background-color: $color-header-btn-hover;  
          }
        }
    }
    &__pnr-list {
      margin-top: 1rem;
      float: left;
      list-style: none;
    }
    &__pnr-item {
      display: inline-block;
      margin-top: 1rem;
      margin-right: 1rem;
    }
    &__dms-bkg{
      height: 6.5rem;
      width: 5rem;
    

    }
  }
}