.update{
  &__notification {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    width: 20rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  &__message{
   line-height: 1.5rem;
    font-size: 1.1rem;
    padding:.5rem 0rem;
    padding-bottom:1rem;
    text-align: left;
  }
  &__btn{
    padding:.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    &--close{
      margin-right: 2rem;
    }
  }
}